#waline {
  --waline-theme-color: var(--secondary-color, #0056b2);
  --waline-active-color: var(--primary-color, #0d6efd);
}

#waline .wl-panel {
  margin: 0 !important;
  border: none !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

#waline .wl-editor {
  width: 100% !important;
  min-height: 4.75em !important;
  margin: 0.75em 0 !important;
  border-radius: 0 !important;
}

#waline .wl-editor,
#waline .wl-input,
#waline .wl-header label,
#waline .wl-header input {
  color: inherit !important;
  font-family: var(--font-serif, Georgia, serif);
  font-size: inherit;
  font-style: italic;
}

#waline .wl-editor:focus,
#waline .wl-input:focus,
#waline .wl-card .wl-meta > span {
  background: rgb(135 135 135 / 5%) !important;
}

#waline .wl-power,
#waline .wl-empty,
#waline .wl-gif-popup,
#waline .wl-count,
#waline .wl-actions a,
#waline .wl-actions button[title='Preview'],
#waline .wl-action[title='Upload Image'] {
  display: none !important;
}

#waline .wl-btn {
  border-radius: 0;
}

#waline .wl-header {
  padding: 0;
  border-bottom: 1px dashed var(--main-border-color, var(--waline-border-color));
  border-radius: 0;
}

#waline .wl-emoji-popup {
  inset-inline-start: 2.75em;
  top: 0;
  width: 75%;
  max-width: unset;
  border: 1px solid var(--main-border-color, var(--waline-border-color));
  background: rgb(135 135 135 / 5%);
  box-shadow: none;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

#waline .wl-emoji-popup button:hover {
  border-radius: 6px;
  background: rgb(135 135 135 / 20%);
}

#waline .wl-emoji-popup .wl-tab-wrapper {
  max-height: 120px;
}

#waline .wl-card .wl-content p,
#waline .wl-card span.wl-nick {
  color: inherit;
}

#waline .wl-btn.primary {
  border: none;
  border-radius: 2px;
  background-color: rgb(135 135 135 / 5%);
  color: var(--secondary-color, #0056b2);
  font-weight: 600;
}

#waline .wl-btn.primary:hover {
  background-color: var(--primary-color, #0d6efd);
  color: #fff;
}
